<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77473949309-q9itpmkp38ctel1hs6cd2rs72prl0vhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77473949309-q9itpmkp38ctel1hs6cd2rs72prl0vhm</string>
	<key>API_KEY</key>
	<string>AIzaSyDlERMj4hRPPQPBFVuy8iMqdNLkVYa3Bi8</string>
	<key>GCM_SENDER_ID</key>
	<string>77473949309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.strainlw.Group-Chat</string>
	<key>PROJECT_ID</key>
	<string>group-chat-96d88</string>
	<key>STORAGE_BUCKET</key>
	<string>group-chat-96d88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77473949309:ios:030a852076376270767314</string>
</dict>
</plist>